@model SampleProject.Models.Customer
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Are you sure to delete this customer?</h4>
</div>

<div class="modal-body">
    <div id="divPartial">
        @if (TempData["Message"] != null)
            {
            <p class="alert alert-warning" role="alert">@TempData["Message"]</p>
          }
    </div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
    </dl>

</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-footer">
        @Html.ActionLink("Back to List", "Index")
        <button class="btn" type="button" data-dismiss="modal">No</button>
        <input class="btn btn-danger" type="submit" value="Yes" />
    </div>
}

